modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18396
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BMgFXwB60dgbs20TQXTocKkJ2wBGS1bDOI-2rQhzIbf7CUYBNmXTmfUTFLtN_jfPYNILvzVwan6lUfX056Ptmz4"
VAPID_PRIVATE_KEY = "_VxVsFRXN20OnRsDB1j6mkXIjs9JFCNE5FLtwIFNd3k"
VAPID_EMAIL = "mailto:gymbro@example.com"
